
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

body{

    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    background-image: linear-gradient(270deg, rgb(65, 87, 106), rgb(5, 39, 49));


}

.User_info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
position: absolute;
top: 20px;
left: 30px;
}
.User_info h1{

color: rgb(47, 242, 47);
font-size: 1.5rem;
}
.white{

color: whitesmoke;
font-weight: 20;
font-size: 2rem;

}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}




.Hcontainer .nav ul li{

    display: inline;
    margin: 40px;
    color: whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 1s ease-in;
    
}
.Hcontainer .nav ul li:hover{
transform: translateY(10px);
}

.login_item{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;



}

.login_item input{

    margin:10px;
    height: 40px;
    width: 250px;
    outline: none;
    opacity: 1;
   font-weight: 200;
   border-radius: 5px;
   border: none;
   margin-top: 20px;
  

    
}

.login_item input:focus{

border: 1px solid black;


}

.btn{

height: 50px;
width: 200px;
background-color: #3468c8;
border-radius: 10px;
color: #f2f2f2;
border: .5px solid black;
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
font-size: 20px;
cursor: pointer;
transition: all .2s ease-in;

}

.card{


  height: 500px;
  width: 600px;
  background-color: #1a1a1a;
  box-shadow: .5px .5px 5px .2px black;
  border-radius: 40px 40px 0px 0px;
}

.btn:hover{

    transform: translateY(-10px);
    background-color: #95b424;

}

.Hcontainer{

display: flex;
justify-content: space-around;
align-items: center;
background-color: navy;
height: 100px;



}









.box{

background-color: rgb(34, 26, 83);
height: 400px;
width: 300px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}


.boxer{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    }

    .center{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      flex-direction: column;
    }

    .login_h{
        color: navy;
        margin-top: -20px;
    }
    


    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .login-page {
      width: 360px;
      padding: 8% 0 0;
      margin: auto;
    }
    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    .form button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #3468c8;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
    .form button:hover,.form button:active,.form button:focus {
      background: #95b424;
    }
    .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    .form .message a {
      color: #204986;
      text-decoration: none;
    }
    .form .register-form {
      display: none;
    }
    .container {
      position: relative;
      z-index: 1;
      max-width: 300px;
      margin: 0 auto;
    }
    .container:before, .container:after {
      content: "";
      display: block;
      clear: both;
    }
    .container .info {
      margin: 50px auto;
      text-align: center;
    }
    .container .info h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a;
    }
    .container .info span {
      color: #4d4d4d;
      font-size: 12px;
    }
    .container .info span a {
      color: #000000;
      text-decoration: none;
    }
    .container .info span .fa {
      color: #EF3B3A;
    }



